body {
  background-color: #f8f8f8;
}

button {
  margin: auto;
  background: none;
  outline: none !important;
  border: 3px solid #00b4cc66;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  color: #00b4cc;
  font-weight: bold;
  letter-spacing: 0.5px;
}

section {
  display: flex;
}

.confetto {
  position: absolute;
  border-radius: 1px;
  opacity: 0;
  animation: pulse 1.5s infinite;
}

.confetti-container {
  height: 100vh;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300vw);
  }
}
