@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

/* GENERAL */
:root {
  --red: #cd0000;
  --white: #fafafa;
  --black: #0f0f0f;
  --gray: #ededed;
}
html {
  background-color: var(--white);
  overflow: hidden;
}

body {
  display: flex;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0px;
}

h1 {
  font-size: 1.5rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
  line-height: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  background: var(--red);
  color: var(--white);
  padding: 0rem 0.5rem;
}

h3 {
  margin: 0;
  font-weight: 300;
}

ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
  gap: 0.75rem;
  display: flex;
}

a {
  color: var(--red);
  text-decoration: none;
  border-bottom: 1px solid;
  font-size: 1.25rem;
}

a:hover {
  transform: scaleX(-1);
}

nav {
  align-self: end;
  margin-bottom: 2rem;
}

/* PHOTO */
.photo {
  height: 100vh;
  width: 49vw;
  object-fit: cover;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  overflow-y: scroll;
}

/* MAIN - IMAGE  */
.logo {
  width: 312px;
}

/* SECTION - ARTICLE */

section.section--article {
  column-width: 200px;
  column-gap: 1.5rem;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5rem;
}

/* SECTION - TOUR */
section.section--tour {
  width: 100%;
}

.concert-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5rem;
}

.concert {
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.concert__date {
  font-size: 1rem;
  margin: 0px;
  font-weight: 400;
}

.concert p {
  margin: 0px;
}

.concert__meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;
}

.concert__location {
  text-align: end;
  font-size: 1.25rem;
}

.concert__notes {
  width: 100%;
  font-size: 0.85rem;
}

.concert:hover p,
.concert:hover h3 {
  color: var(--red);
}

.concert:hover {
  border-color: var(--red);
}

/* FOR SCREEN READERS ONLY */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* MOBILE */
@media (max-width: 620px) {
  html {
    overflow: auto;
  }
  body {
    flex-direction: column;
  }

  .photo {
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0;
  }

  main {
    z-index: 100;
    transform: translate3d(0, 0, 200px);
    background: var(--white);
    overflow-y: unset;
  }
}
