:root {
  --link: #33a8ff;
  --color-light-blue: rgb(252 252 254);
  --color-yellow: #FFF9BE;
}

body {
    margin: 0px;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Switzer', sans-serif;
    font-weight: 300;
}

section {
  padding: 16px 0px;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  line-height: 1.8;
  margin-bottom: 4px;
  line-height: 1.2;
  transition-duration: 0.3s;
}

h2 {
  margin-bottom: 0px;
  margin-top: 12px;
  font-size: 16px;
  text-transform: uppercase;
  color: #595959;
  font-weight: 300;
}

@media (min-width: 720px) {
  .page--main {

      margin: 64px auto;
      max-width: 560px;

  }

  .portfolio__content {
    margin: 64px auto;
    margin-top: 16px;
    max-width: 720px;
  }
}

p {
  margin: 0px;
  padding-top: 16px;
}

ul {
  padding: 0px;
  padding-top: 8px;
  margin: 0px;
  list-style: none;
}

li {
  padding: 8px 0px;
}

li a {
  margin-left: 8px;
}

li::before {
  content: url('arrow.svg');
  opacity: 0.2;
  position: relative;
  top: 4px;
}

.text-link {
  text-decoration: none;
  color: rgba(3,17,172);
  background-image: linear-gradient(90deg, var(--color-light-blue) 0%, var(--color-light-blue) 50%, var(--color-yellow) 50%, var(--color-yellow) 100%);
  background-size: 200%;
  transition: background-position 0.3s cubic-bezier(.47, .1, 1, .63), color .2s linear;
  animation-delay: 0.0s, 0.15s;
  transition-duration: 0.3s;
}

a:hover {
  background-position: -100% 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px;

  position:sticky;
  top: 0;
  background: #ffffffd4;
  z-index: 2;
  backdrop-filter: blur(4px);
  transition: 0.3s;

}

.avatar {
  height: 96px;
  border-radius: 100%;
  margin-right: 24px;
  transition-duration: 0.3s;
}

.screenshot {
  width: 95%;
  border-radius: 4px;
  opacity: 0.9;
  transition: 0.3s;
  margin: 16px 0px;
}

.screenshot:hover {
  opacity: 1;
}






@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


/* MO JS */
div[data-name="mojs-shape"] {
  z-index: 2;
}

.extra-content--inline, .extra-content--block {
  display: none;
}

label {
    position: sticky;
    top: 0;
    padding: 16px 8px;
    text-align: end;
    background: #ffffffd4;
    z-index: 2;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: flex-end;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(3px);
    margin-left: auto;
}

label span {
    transition: 0.3s;
}

label span:hover {
    opacity: 1;
}

.toggle--1 {
    margin-right: 8px;
}

.toggle--2 {
    opacity: 0.4;
}

input:checked ~ .toggle--2 {
    opacity: 1;
}

input:checked ~ .toggle--1 {
    opacity: 0.4;
}

input {
    display:none;
}
