@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

@beige: #EFE8D4;
@brown: #9E723F;
@gray: #2C2C2C;

html body {
  background-color: @beige;
  margin-top: 120px;
  cursor: default;
}

header {
  margin-bottom: 40px;
}

.container {
    font-family: 'Lora', serif;
    color: @gray;

    h1, h2 {
      color: @brown;
      font-size: inherit;
    }

    h1 {
      font-size: 24px;
    }

    a {
      color: @gray;
      border-bottom: 2px solid fade(@brown, 40%);
      padding: 0px 2px;
      transition-duration: 0.3s;

      &:hover {
        text-decoration: none;
        color: inherit;
        background-color: fade(@brown, 40%);
      }
    }
}
