@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  opacity: 0.9;
}

.comparison {
  margin-top: 40px;
  margin-bottom: 40px;
}

#page-wrap {
  max-width: 960px;
  margin: auto;
}
