@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

@beige: #EFE8D4;
@brown: #784b31;
@gray: #2C2C2C;

html body {
  background-color: @beige;
  margin-top: 20vh;
  cursor: default;
  font-size: 16px;
}

header {
  margin-bottom: 40px;
}

.container {
    font-family: 'Lora', serif;
    color: @gray;
    margin-bottom: 104px;

    h1, h2 {
      color: @brown;
      font-size: inherit;
    }

    h1 {
      font-size: 1.75em;
    }

    h3 {
      font-size: 1.5em;
      margin-top: 2em;
      margin-bottom: 16px;
    }

    h4 {
      font-size: 1.25em;
      margin-top: 1.5em;
    }

    h4, p {
      line-height: 1.6;
    }

    p {
      font-size: 1em;
    }

    .caption {
      font-size: 0.75em;
      color: @brown;
      text-align: center;
      margin-top: 8px;

      a {
        color: @brown;
      }
    }

    a {
      color: @gray;
      border-bottom: 1px solid fade(@brown, 40%);
      padding: 0px 2px;
      transition-duration: 0.3s;

      &:hover {
        text-decoration: none;
        color: inherit;
        background-color: fade(@brown, 20%);
      }
    }

    ul {
      line-height: 2;
      list-style: none;

      li::before {
       content: "\2022";
       color: @brown;
       display: inline-block;
       width: 1em;
       margin-left: -1em;
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      margin-top: 32px;
    }

    .image-link {
      border-bottom: none;

      &:hover {
        background-color: none;
      }
    }

    .top-menu {
      margin-bottom: 40px;
    }

    .nav-links {
      border-bottom: none;
      padding: 6px 12px;
      background-color: fade(@brown, 20%);
      border-radius: 4px;
      margin: 0px 4px;
    }

    .article-list {
      margin-bottom: 32px;
    }

    .article-list div {
      display: flex;
    }

    .playground-line {
      margin: 20px 0px;
    }

    .blog-header {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .col-md-7 {
      padding-left: 0px;
    }

    .article-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 24px 0px;
    }

    .disabled {
      opacity: 0.3;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    transform: translate(0px);
  }
  100% {
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.emoj {
  text-align: center;
  width: 24px;
  margin-right: 8px;
}

// Code blocks
.code-block {
  padding: 8px 12px;
  border-radius: 3px;
  background-color: fade(@brown, 10%);
}

// Photo Gallery
.photo-gallery {
  margin-top: 0px;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.photo-column {
  flex: 50%;
  padding: 0 4px;

  img {
    margin-top: 8px;
    vertical-align: middle;
  }
}

@media (max-width: 767.98px) {
  .photo-column {
    flex: 100%;
  }
}
