@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
#container {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.89);
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 9%;
  left: 15%;
  margin: auto;
  flex-wrap: wrap;
}
#intro {
  margin-bottom: 24px;
}
#intro h1 {
  margin-bottom: 0px;
  font-weight: 400;
}
.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
a {
  color: #2f85a7;
  transition-duration: 0.2s;
}
