@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');

/* full height of viewport 1vh - 1% */
.section {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.intro {
  background-image: url('blog/images-music/md.png');
  color: #6ef70c;
}


.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.marquee {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  font-size: 3vw;
  line-height: 1.4;
  overflow: hidden;
  mix-blend-mode: difference;
  text-transform: lowercase;
  margin: auto;
}

.marquee div {
  animation: moveLeft 200s infinite alternate;
  /* text stays on the same line */
  white-space: nowrap;
  display: block;
  /* lets to add animation */
  position: relative;
}

.violence {
  color: #ffadad;
}

@media (max-width: 640px) {
  .marquee {
    font-size: 5vw;
  }
}
