@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  background-color: #000;
  display: flex;
}

:root {
  --gray: #7a7a7a;
  --white: #f6f6f6;
  --black: #696969;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    display: block;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#line {
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  position: absolute;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translateY(-40%) translateX(-40%);
}


/* NAVIGATION */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    transform: translate(0px);
  }
  100% {
    opacity: 1;
  }
}

header {
  white-space: nowrap;
  position: fixed;
  z-index: 4;
  font-family: 'Mukta', sans-serif;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

main {
  width: 100vw;
}

nav {
  margin-bottom: 24px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 5s; /* comment out */
  animation-play-state: paused;
}

nav ul li a {
  display: block;
  padding: 4px 0px;
  color: var(--gray);
  text-decoration: none;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: var(--white);
  text-decoration: none;
}

nav ul li a.current {
  color: var(--white);
}

/* LOADERS SETUP */
.loader {
  height: 100vh;
  overflow: hidden;
  display: flex;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 5s; commentout */
  animation-play-state: paused;
}

.loader-container {
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LOADER 1 */
.loader-container-1 {
  display: grid;
  place-items: center;
}

.loader-1-circle {
  height: 56px;
  width: 56px;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid var(--white);
  grid-area: 1/1;
}

@keyframes pulseCircle {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loader-1-circle:nth-child(1) {
  animation: pulseCircle 1s alternate infinite ease-in-out;
}

@keyframes moveCircleLeft {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-24px);
    opacity: 1;
  }
}

.loader-1-circle:nth-child(2) {
  animation: moveCircleLeft 1s alternate infinite ease-in-out;
}

@keyframes moveCircleRight {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(24px);
    opacity: 1;
  }
}

.loader-1-circle:nth-child(3) {
  animation: moveCircleRight 1s alternate infinite ease-in-out;
}

@keyframes moveCircleDown {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(24px);
    opacity: 1;
  }
}

.loader-1-circle:nth-child(4) {
  animation: moveCircleDown 1s alternate infinite ease-in-out;
}

@keyframes moveCircleUp {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-24px);
    opacity: 1;
  }
}

.loader-1-circle:nth-child(5) {
  animation: moveCircleUp 1s alternate infinite ease-in-out;
}

@keyframes scaleCircleDown {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

.loader-1-circle:nth-child(6) {
  animation: scaleCircleDown 1s alternate infinite ease-in-out;
}

/* LOADER 2 */

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400vw);
  }
}

.loader-2-bar {
  margin: auto;
  height: 16px;
  width: 80%;
  background-color: black;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.loader-2-text {
  animation: moveLeft 80s infinite alternate linear;
  /* text stays on the same line */
  white-space: nowrap;
  display: block;
  /* lets to add animation */
  position: relative;
  color: var(--white);
  font-size: 12px;
  font-family: 'Space Mono', monospace;
  cursor: default;
}


/* LOADER 3 */
.loader-3-circle {
  height: 112px;
  margin: auto;
  width: 112px;
  background: linear-gradient(3.43deg, #FF8D8D 14.62%, rgba(255, 255, 255, 0) 172.75%), #FFDD87;
  border-radius: 100%;
  display: flex;
  overflow: hidden;
}

@keyframes moveWaveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-800px);
  }
}

.loader-3-wave {
  align-self: flex-end;
  animation: moveWaveLeft 20s infinite alternate linear;
}

/* LOADER 4 */
@keyframes createNight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes showMoon {
  0% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(325deg);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loader-container-4 {
  display: grid;
  place-items: center;
}

.loader-4-day {
  grid-area: 1/1;
  border-radius: 100%;
  animation: createNight 3s infinite alternate-reverse linear;
  opacity: 1;
  z-index: 1;
}

.loader-4-night {
  grid-area: 1/1;
  animation: createNight 3s infinite alternate linear;
  z-index: 3;
  border-radius: 100%;
}

.loader-4-circles {
  grid-area: 1/1;
  animation: showMoon 6s infinite linear;
  height: 112px;
  width: 112px;
  display: grid;
  place-items: center;
  z-index: 5;
}

.loader-4-moon {
  grid-area: 1/1;
  animation: reveal 6s infinite linear;
}

.loader-4-sun {
  opacity: 0;
  grid-area: 1/1;
  animation: reveal 6s infinite linear;
  animation-delay: 3s;
}

/* LOADER 5 */

@keyframes rockSeesaw {
  0% {
    transform: rotate(-30deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

.loader-container-5 {
  height: 100vh;
  width: 100vh;
}


.loader-5-seesaw {
  display: grid;
  place-items: center;
  position: relative;
  margin: auto;
}

.loader-5-beem {
  grid-area: 1/1;
  margin-bottom: 40px;
}

.loader-5-wedge {
  grid-area: 1/1;
  margin-top: 32px;
}

.loader-5-beem svg {
  transform-origin: center;
  overflow: visible;
}

.loader-5-beem svg {
  transform-origin: center;
  animation: rockSeesaw 2s infinite alternate ease-in-out;
}

.loader-5-men {
  grid-area: 1/1;
}

@keyframes switchLegs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.straight-leg1 {
  opacity: 0;
  animation: switchLegs 2s linear infinite alternate;
}

.bent-leg1 {
  animation: switchLegs 2s linear infinite alternate;
  animation-delay: 2s;
}

.straight-leg2 {
  animation: switchLegs 2s linear infinite alternate;
  animation-delay: 2s;
}

.bent-leg2 {
  opacity: 0;
  animation: switchLegs 2s linear infinite alternate;
}

/* LOADER 6 */
@keyframes rotateThing {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateThing2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.loader-6-first {
  transform-origin: top;
  animation: rotateThing 1400ms infinite alternate ease-in-out;
}

.loader-6-last {
  transform-origin: top;
  animation: rotateThing2 1400ms infinite alternate ease-in-out;
}

.loader-6-things {
  display: flex;
}

/* LOADER 7 */

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-7-circle {
    border: 2px solid var(--white);
    border-radius: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: rotateCircle 3s infinite ease-in-out;
}

.loader-7-circle-middle {
    height: 42px;
    width: 42px;
    align-items: flex-end;
    transform-origin: bottom;
}

.loader-7-circle-big {
    height: 88px;
    width: 88px;
    animation-timing-function: linear;
}

.loader-7-circle-small {
    height: 20px;
    width: 20px;
    transform-origin: bottom;
}

/* LOADER 8 */
@keyframes rotateGrape {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-225deg);
  }
}

@keyframes rotateBanana {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container-8 {
  display: grid;
  place-items: center;
}

.loader-8-grape {
  grid-area: 1/1;
  margin-bottom: 32px;
  animation: rotateGrape 2s infinite alternate ease-in-out;
}

.loader-8-banana {
  grid-area: 1/1;
  margin-top: 32px;
  transform-origin: top;
  animation: rotateBanana 2s infinite alternate ease-in-out;
}

/* LOADER 9 */
.loader-9-rainbow-1, .loader-9-rainbow-2 {
  transform-origin: center;
}

/* LOADER 10 */
.loader-container-10 {
  width: 56px;
  height: 56px;
  overflow: hidden;
}

.loader-10-bars {
  display: flex;
  width: 160px;
  justify-content: space-between;
  flex-direction: row;
}

.loader-10-column-1, .loader-10-column-2, .loader-10-column-3 {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loader-10-bar {
  width: 48px;
  height: 8px;
  border-radius: 1px;
  background-color: var(--white);
  border: 1px solid var(--white);
}

/* LOADER 11 */
.loader-container-11 {
  display: grid;
  place-items: center;
}

.loader-11-circles, .loader-11-paths {
  grid-area: 1/1;
}
