@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

button, p {
  grid-area: 1/1;
  font-size: 24px !important;
}

button {
  color: initial;
  animation: slide-in 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  z-index: 3;
}


p {
  cursor: default;
  animation: slide-in  0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 5000ms;

}

.disappear {
  animation: disappear 0.1s both;
  animation-delay: 5000ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}


@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes slide-in  {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
