@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body {
  background-color: #320f6f;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: rgb(88, 60, 135);
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

button, p {
  grid-area: 1/1;
}

button {
  border: 5px solid rgb(228, 90, 132);
  background: none;
  width: 320px;
  height: 80px;
  padding: 16px 64px;
  background-color: rgb(255, 172, 172);
  box-shadow: 6px 6px 0px 1px rgb(101, 76, 144);
  outline: none;
  transition-duration: 0.3s;
  animation: slide-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  z-index: 3;
}

button:hover {
  background-color: rgb(253, 198, 198);
}

button:focus {
  outline: none;
  box-shadow: 10px 10px 0px 1px rgb(88, 60, 135);
}

p {
  cursor: default;
  animation: slide-in  1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 6000ms;
  color: rgb(228, 90, 132);
}

.disappear {
  animation: roll-out 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  animation-delay: 5000ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.particles {
  grid-area: 1/1;
  opacity: 0;
  animation: fadeIn 2000ms forwards;
  height: 100vh;
  width: 100vh;
}

.particle {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  border-radius: 10vmin;
  backface-visibility: hidden;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  background: transparent;
  opacity: 0.6;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes roll-out {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}

@keyframes slide-in  {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
