@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/literata/v15/or38Q6P12-iJxAIgLa78DkTtAoDhk0oVl6LVaw.ttf) format('truetype');
}
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/literata/v15/or38Q6P12-iJxAIgLa78DkTtAoDhk0oVe6XVaw.ttf) format('truetype');
}
body {
  font-family: 'Literata', serif;
  background: linear-gradient(275deg, #e2f9ff, #ffddf9);
  animation: backgroundGradient 10s ease infinite;
}
h3 {
  padding: 20px;
  padding-bottom: 8px;
  padding-top: 32px;
  color: #595959;
  font-size: 24px;
  cursor: default;
}
h3 .emoji {
  font-size: 18px;
}
p {
  font-size: 10px;
  text-align: right;
  padding-right: 16px;
  color: #d2d2d2;
  letter-spacing: 1px;
  margin-bottom: 24px;
  cursor: default;
}
a {
  color: #d2d2d2;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #595959;
  text-decoration: none;
}
.element {
  position: absolute;
  border-radius: 1px;
  opacity: 0;
  animation: pulse 0.5s infinite;
  user-select: none;
}
.confetti-container {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  height: 100vh;
}
.confetti-generator {
  margin: auto;
  z-index: 2;
  width: 90vw;
  max-width: 400px;
  background-color: #f8f8f8;
  border-radius: 2px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 93vh;
  max-height: 560px;
}
.sliders {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 8px;
  background: #0000000d;
  border-radius: 2px;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: auto;
  transition: background 0.3s ease;
  cursor: pointer;
}
.slider:hover {
  background: #0000001c;
}
.avocado-slider::-webkit-slider-thumb {
  background: url('../svg/avocado.svg');
}
.loopie-slider::-webkit-slider-thumb {
  background: url('../svg/loopie.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.squiggly-slider::-webkit-slider-thumb {
  background: url('../svg/squiggly.svg');
}
.confetto-slider::-webkit-slider-thumb {
  background: url('../svg/confetto.svg');
}
.egg-slider::-webkit-slider-thumb {
  background: url('../svg/egg.svg');
}
.star-slider::-webkit-slider-thumb {
  background: url('../svg/star.svg');
  transform: rotate(90deg);
}
.watermelon-slider::-webkit-slider-thumb {
  background: url('../svg/watermelon.svg');
  transform: rotate(20deg);
}
.figma-slider::-webkit-slider-thumb {
  background: url('../svg/figma.svg');
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
@keyframes backgroundGradient {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
