@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --green: #77ed88;
  --yellow: #eded3e;
  --gray: #262626;
}

/* NAVIGATION */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    transform: translate(0px);
  }
  100% {
    opacity: 1;
  }
}

nav {
  white-space: nowrap;
  background: var(--gray);
  position: fixed;
  z-index: 4;
  font-family: 'Mukta', sans-serif;
  margin-top: 4vh;
  margin-left: 2vw;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  opacity: 0.4;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

nav ul li a:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

nav ul li a.current {
  opacity: 1;
}


.loader {
  perspective: 1500px;
  height: 100vh;
  background-color: #262626;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* STYLES FOR LOADER 1 */
.cubes-wrapper-1 {
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  transform-style: preserve-3d;
}

div.cube-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #499ed6;
  opacity: 0;
}

div.cube-1-front {
  transform: translateX(-50%) translateY(-50%) translateZ(4px);
}

div.cube-1-back {
  transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(4px);
}

div.cube-1-left {
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(4px);
}

div.cube-1-right {
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(4px);
}

div.cube-1-top {
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(4px);
}

div.cube-1-bottom {
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(4px);
}

/* STYLES FOR LOADER 2 */
.cubes-wrapper-2 {
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  transform-style: preserve-3d;
}

div.cube-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #499ed6;
  opacity: 0.4;

}

div.cube-2-front {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) translateZ(12px);
}

div.cube-2-back {
  background-color: var(--green);
  transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(12px);
}

div.cube-2-left {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(12px);
}

div.cube-2-right {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(12px);
}

div.cube-2-top {
  background-color: var(--green);
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(12px);
}

div.cube-2-bottom {
  background-color: var(--green);
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(12px);
}


/* STYLES FOR LOADER 3 */
.cubes-wrapper-3 {
  margin: 8px;
  transform-style: preserve-3d;
}

div.loader-3 {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

div.cube-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #499ed6;
}


div.cube-3-front {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) translateZ(4px);
  opacity: 0.6;
}

div.cube-3-back {
  background-color: var(--green);
  transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(4px);
  opacity: 0;
}

div.cube-3-left {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(4px);
  opacity: 0.6;
}

div.cube-3-right {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(4px);
  opacity: 0;
}

div.cube-3-top {
  background-color: var(--green);
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(4px);
  opacity: 0.6;
}

div.cube-3-bottom {
  background-color: var(--green);
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(4px);
  opacity: 0;
}

/* STYLES FOR LOADER 4 */

.cubes-wrapper-4 {
  margin: auto;
  transform-style: preserve-3d;
  height: 40px;
  margin-left: 12px;
  margin-right: 12px;
}

div.cube-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--green);
  opacity: 0;
}

div.cube-4-front {
  transform: translateX(-50%) translateY(-50%) translateZ(6px);
}

div.cube-4-back {
  transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(6px);
}

div.cube-4-left {
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(6px);
}

div.cube-4-right {
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(6px);
}

div.cube-4-top {
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(6px);
}

div.cube-4-bottom {
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(6px);
}
