body {
  background-color: #00010d;
  position: relative;
  overflow: hidden;
}

.element {
  position: absolute;
  transition-duration: 0.3s;
  opacity: 0.4;
}

.circle {
  height: 2px;
  width: 2px;
  border-radius: 100%;
  background-color: #b7d7f7;
}
