@import url('https://fonts.googleapis.com/css2?family=Scada:wght@400&display=swap');

:root {
  --yellow: #ffff5c;
  --darkeryellow: #6d7448;
}

body {
  display: grid;
  place-items: center;
}

.body-container {
  grid-area: 1/1;
  height: 100vh;
  width: 100vw;
  background-color: #242f3e;
}

#map {
  height: 100%;
  width: 100%;
}

.loading {
  overflow: hidden;
  background-color: #242f3e;
}

.loading #map {
  opacity: 0.2;
}

.loading ~ .loader {
  opacity: 1;
}

/* STYLES FOR LOADER 3 */
.loader {
  opacity: 0;
  transition: opacity 0.5s ease;
  grid-area: 1/1;
  perspective: 1500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cubes-wrapper-3 {
  margin: 8px;
  transform-style: preserve-3d;
}

div.loader-3 {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

div.cube-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #499ed6;
}

div.cube-3-front {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) translateZ(4px);
  opacity: 0.6;
}

div.cube-3-back {
  background-color: var(--darkeryellow);
  transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(4px);
  opacity: 0;
}

div.cube-3-left {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(4px);
  opacity: 0.6;
}

div.cube-3-right {
  background-color: var(--yellow);
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(4px);
  opacity: 0;
}

div.cube-3-top {
  background-color: var(--darkeryellow);
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(4px);
  opacity: 0.6;
}

div.cube-3-bottom {
  background-color: var(--darkeryellow);
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(4px);
  opacity: 0;
}
